[submodule "hugo-PaperMod"]
	path = hugo-PaperMod
	url = https://github.com/chx9/hugo-PaperMod.git
[submodule "themes/hugo-PaperMod"]
	path = themes/hugo-PaperMod
	url = https://github.com/chx9/hugo-PaperMod.git
